@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root{
    /* colors */
    --primary-color: #3092FC;
    --secondary-color: #70BF44;
    --tertiary-color: #E8E6E6;
    --footer-color: #4c4d4f;
    --blue-buttons-color:#566fb8;
}

.project-img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 700;
    color: #414141;
}

p{
    font-weight: 100;
    text-align: justify;
}

.axis-txt{
    font-size: 0.9rem;
}